.editor {
  border: 1px solid black;
  margin-right: 2em;
  margin-left: 2em;
}
.problem-editor {
  border-right: 1px solid black;
}

.problem-editor, .problem-response {
  padding: 0 !important;
  height: 80vh;
  max-height: 80vh;
  overflow: scroll;
}

.problem-editor > textarea, .problem-response > textarea {
  width: 100%;
  height: 100%;
}
